// typography
h1 {
  font-family: "fira-mono";
  font-weight: 700;
  font-size: 42px;
  color: #ffffff;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
h2 {
  font-family: "brandon-grotesque";
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
h3 {
  font-family: "fira-mono", monospace;
  font-weight: 600;
}
h4 {
  font-family: "fira-mono", monospace;
  font-weight: 400;
}
a {
  text-decoration: none;
}
p {
  font-family: "brandon-grotesque", sans-serif;
  color: #000000;
  margin-bottom: 1em;
  font-size: 18px;
}
ul, li {
  font-family: "brandon-grotesque", sans-serif;
  color: #000000;
  font-size: 16px;
}